<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="propultech_webpayplusmall_transactions_grid_data_source" xsi:type="string">Propultech\WebpayPlusMallRest\Model\ResourceModel\WebpayMallOrderData\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Propultech\WebpayPlusMallRest\Model\ResourceModel\WebpayMallOrderData\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">webpay_mall_order_data</argument>
            <argument name="resourceModel" xsi:type="string">Propultech\WebpayPlusMallRest\Model\ResourceModel\WebpayMallOrderData</argument>
        </arguments>
    </virtualType>

    <!-- Expose payment config to checkout UI -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="propultech_webpayplusmall_config_provider" xsi:type="object">Propultech\WebpayPlusMallRest\Model\Config\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Logger wiring: write to var/log/webpaymall.log -->
    <type name="Propultech\WebpayPlusMallRest\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">webpaymall</argument>
            <argument name="handlers" xsi:type="array">
                <item name="stream" xsi:type="object">Propultech\WebpayPlusMallRest\Logger\Handler\WebpayMallHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Propultech\WebpayPlusMallRest\Controller\Transaction\Create">
        <arguments>
            <argument name="logger" xsi:type="object">Propultech\WebpayPlusMallRest\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Propultech\WebpayPlusMallRest\Controller\Transaction\Commit">
        <arguments>
            <argument name="logger" xsi:type="object">Propultech\WebpayPlusMallRest\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Propultech\WebpayPlusMallRest\Model\TransactionDetailsBuilder">
        <arguments>
            <argument name="logger" xsi:type="object">Propultech\WebpayPlusMallRest\Logger\Logger</argument>
        </arguments>
    </type>
</config>
